#saving-div {
  width : 100%;
  height : 44px;
  display : flex;
  flex-direction: row;
  justify-content : center;
  align-items : center;
  background-color : rgb(183,183,196);
  font-size : 14px;
  color : rgb(28,28,31);
}

#saving {
  color : rgb(41,151,255);
  text-decoration: underline;
  white-space: nowrap;
  cursor : pointer;
}

#arcade-div {
  width : 100%;
  height : 52px;
  background-color : rgb(28,28,31);
  display : flex;
  flex-direction : row;
  justify-content: center;
  position : sticky;
  top : 0px;
  z-index :9999;
}

#innerarcade-div {
  width : 90%;
  height : 44px;
  background-color : rgb(28,28,31);
  display : flex;
  flex-direction : row;
  justify-content: space-between;
}

#applearcade-div {
  width : 700px;
  display : flex;
  flex : 1fr;
  align-items: center;
  padding-left : 5px;
}

#applearcade {
  color : white;
  font-size : 21px;
  font-style : solid;
  font-weight : 650;
}

#partsofarcade-div{
  height : 52px;
  width : 274px;
  display : flex;
  flex-direction : row;
  align-items: center;
  justify-content: space-between;
  padding-right : 5px;
}

#overview-div {
  height : 52px;
  display : flex;
  flex-direction : row;
  justify-content : center;
  align-items: center;
}

#overview {
  color : gray;
  font-size : 12px;
  text-align : center;
  font-weight : 400px;
}

#howtofilms-div {
  height : 52px;
  display : flex;
  flex-direction : row;
  justify-content : center;
  align-items: center;
  cursor : pointer;
}

#howtofilms {
  color : #fefefe;
  font-size : 12px;
  text-align : center;
  font-weight : 400px;
}

#howtofilms:hover {
  color : rgb(41, 151, 255);
}

#tryitfree-div {
  display : flex;
  flex-direction : row;
  justify-content: center;
  align-items : center;
}

#tryitfree {
  font-size : 12px;
  font-style : solid;
  font-weight : 400px;
  border : none;
  border-radius : 15px;
  padding-left :15px;
  padding-right : 15px;
  padding-top : 6px;
  padding-bottom: 6px;
  background-color : rgb(255, 77, 69);
  color : white;
  white-space: nowrap;
  cursor : pointer;
}

#tryitfree:hover {
  opacity : 0.94;
}

#video {
  width :100%;
  object-fit: cover;
}

#video-div {
  width : 100%;
}

#textfield-div {
  width : 75%;
  margin-top : 100px;
  display : flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#textfield {
  color :rgb(29,29,31);
  font-size : 48px;
  font-weight : 600;
  text-align : center;
}

#innertextfield {
 color :rgb(255, 77, 69);
}

#text-div {
  display : flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#textfield-second-div {
  margin-top : 50px;
  width : 75%;
  display : flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#look-div{
  margin-top : 20px;
  width : 75%;
  display : flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#subscription-div {
  display :flex;
  flex-direction: row;
  justify-content : center;
  align-items: center;
  margin-top : 150px;
  margin-bottom: 150px;
}

#innersubscription-div {
  width : 75%;
  height : auto;
  display : flex;
  flex-direction : row;
  align-items: center;
  justify-content: space-between;
}

#innersubscription {
  display : flex;
  width : 250px;
  flex-direction: column;
  justify-content: center;
}

#superinner-div-1 {
  color : rgb(29,29,31);
}

#innertextsubscription-1 {
 font-size : 17px;
 font-weight : 700;
 text-align: left;
}

#innertextsubscription-2 {
  font-size : 32px;
  font-weight : 700px;
  text-align: left;
}

#divfortextspacing {
  margin-top : 15px;
  color : rgb(102, 102, 102);
  font-size : 17px;
  font-weight : 500;
  text-align: left;
  line-height: 22px;
}

#superinner-div-2 {
  margin-top :15px;
  display: flex;
  flex-direction : row;
  justify-content: left;
  align-items: center;
}

#tryitfree-2 {
  font-size : 17px;
  padding-left : 22px;
  padding-right : 22px;
  padding-top :12px;
  padding-bottom :12px;
  background-color :rgb(255, 77, 69);
  border : none;
  font-weight :700;
  border-radius : 22px;
  color : white;
}

#tryitfree-2:hover {
  opacity : 0.92;
}

#innertext-color {
  color : rgb(0, 102, 204);
}

#goodtime-div { 
  width : 70%;
  display : flex;
  flex-direction : column;
  justify-content: center;
  align-items: center;
}

#goodtime1 {
  color : rgb(29, 29, 31);
  font-size :80px;
  font-weight : 700;
  line-height : 90px;
  text-align :center;
}

#goodtime2 {
  color : rgb(29, 29, 31);
  font-size :22px;
  font-weight :700;
  height : auto;
  text-align:center;
  line-height : 28px;
}

#outergoodtime {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height : auto;
  width : 100%;
  margin-top : 100px;
  margin-bottom :100px;
}

#goodtime-1 {
  display : flex;
  flex-direction : row;
  justify-content: center;
  align-items: center;
  height : auto;
  width : 100%;
  margin-bottom : 20px;
}

#goodtime-2,#Arcade-image,#outer-section,#country-div{
  display : flex;
  flex-direction : row;
  justify-content: center;
  align-items: center;
}

#outerproducts-div {
  display : flex;
  flex-direction : row;
  justify-content : center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 100px;
}

#middleproducts-div {
  width  : 55%;
  display : flex;
  flex-direction : row;
  justify-content:  space-between;
  align-items: center;
}

#innerproducts-div {
  display : flex;
  flex-direction : column;
  justify-content: center;
  align-items: center;
}

#outer-play-div {
  display : flex;
  flex-direction : column;
  width : 100%;
  height : auto;
  justify-content: center;
  align-items: center;
  margin-top : 100px;
  margin-bottom: 50px;
}

#inner-play-div {
  width : 40%;
  height : auto;
}

#play-text {
  color :rgb(29, 29, 31);
  font-size : 80px;
  font-weight : 700;
  height: auto;
  text-align : center;
  margin : 0;
}

#inner-play-info-div {
  width : 70%;
  height: auto;
}

#play-info-div {
  color : rgb(29, 29, 31);
  font-size : 22px;
  font-weight : 700;
  text-align: center;
  line-height: 28px;
}

#product-image {
  height : 72px;
  object-fit: cover;
}

#product-name {
  color : rgb(29, 29, 31);
  font-size : 20px;
  font-weight : 600;
  display : flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  margin-top :5px;
}

#product {
  height : 72px;
}

#outerposter-div {
  background-color :rgb(245, 245, 247);
  display : flex;
  flex-direction : column;
  justify-content: center;
  align-items: center;
  margin-top : 250px;
  margin-bottom : 120px;
}

#poster-div,#poster-words-div#poster-button-div{
  width : 80%;
  display : flex;
  flex-direction : row;
  justify-content: center;
  align-items: center;
}

#poster-words-div>p {
  text-align : center;
  color :rgb(29, 29, 31);
  font-size : 32px;
  font-weight : 600;
  line-height : 36px;
  margin-bottom : 0px;
}

#inner-arcade-poster {
  width : 50%;
}

#inner-poster-div {

  width : 68%;
  display: flex;
  flex-direction : column;
  justify-content : center;
  align-items: center;
  padding-top : 75px;
}

#poster-words-div,#Arcade-words-div{
  margin-top : 20px;
  margin-bottom : 20px;
}

#poster-button {
  background-color :rgb(47, 47, 49);
  font-size : 17px;
  padding-left : 30px;
  padding-right : 30px;
  padding-top : 15px;
  padding-bottom : 15px;
  font-weight : 600;
  color : white;
  border-radius : 28px;
  border : none;
}

#poster-button-div,#arcade-learn-div {
  margin-top : 4px;
  margin-bottom : 30px;
  display : flex;
  flex-direction : column;
  justify-content: center;
  align-items: center;
}

#poster-learn {
  color :rgb(0, 102, 204);
  font-size :17px;
  font-weight : 400;
  line-height: 25px;
  cursor : pointer;
  padding-top : 10px;
  padding-bottom: 20px;
}

#poster-button:hover{
  opacity : 0.93;
  cursor : pointer;
}

#arcade-poster,#outer-section{
  background-color :rgb(245, 245, 247);
  height : auto;
  padding-top : 20px;
  margin-top : 50px;
  margin-bottom : 25px;
  display : flex;
  flex-direction : row;
  justify-content: center;
  align-items: center;
}

#arcade-words {
  color :rgb(29, 29, 31);
  font-size : 19px;
  font-weight : 600;
  line-height : 23px;
  text-align :center;
}

#Apple-Arcade-Red-Theme {
  width : 61px;
  height : 56px;
}

#arcade-word {
  color :rgb(29, 29, 31);
  font-size : 48px;
  font-weight: 700;
  line-height : 52px;
  text-align : center;
}

#inner-section {
  width : 80%;
  border-bottom-color : rgb(173, 172, 172);
  border-bottom-style: solid;
  border-width : 1px;
}

#inner-section > ul > p , #inner-section > ol > p {
  color :rgb(110, 110, 115);
  font-size : 13px;
  font-weight : 400;
  line-height : 17px;
}

ul,ol{
  padding-left : 0px;
}

#footer-apple {
  width : 20px;
  height : 20px;
}

#outer-section {
  display : flex;
  flex-direction : column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}

#intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#footer-intro {
  width : 100%;
}

#inner-section-2 {
  width : 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#text-intro {
  color :rgb(29, 29, 31);
  font-size : 12px;
  font-weight : 600;
  line-height : 16px;
}

#inner-footer-intro {
  margin-top : 15px;
  margin-bottom: 15px;
  display : flex;
  justify-content: space-between;
  flex-direction : row;
  align-items: center;
  width : 25%;
}

#foot {
  color :rgb(66, 66, 69);
  font-size : 12px;
  font-weight : 400px;
  line-height : 16px;
}

#tofind-applestore {
  width :80%;
  border-bottom-color : rgb(173, 172, 172);
  border-bottom-style: solid;
  border-width : 1px;
}

#tofind-applestore > p {
  color :rgb(110, 110, 115);
  font-size : 12px;
  font-weight : 400;
  line-height: 16px;
}
#tofind-applestore > p > span {
  color :rgb(0, 102, 204);
  cursor: pointer;
}

#tofind-applestore-div {
  margin-top: 0px;
  display : flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(245, 245, 247);
}

#outer-copyright-footer {
  background-color: rgb(245, 245, 247);
  display: flex;
  flex-direction : row;
  justify-content: center;
  align-items: center;
}

#inner-copyright-footer {
  width : 80%;
  height : auto;
  display: flex;
  flex-direction : row;
  justify-content: space-between;
  align-items: center;
}

#branch-copyright-div {
  display : flex;
  flex-direction : row;
  justify-content: space-between;
  align-items: center;
  width : 55%;
}

#copyright-footer {
  width : 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#copyright,#country{
  color :rgb(110, 110, 115) ;
  font-size : 12px;
  font-weight : 400;
  line-height : 16px;
}

#branch-copyright-div > li {
  color :rgb(66, 66, 69) ;
  font-size:12px ;
  font-weight: 400;
  line-height: 16px;
  padding-right : 8px;
  border-right-color: gray;
  border-right-style: solid;
  border-width: 1px;
}
